<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slidenerd.vivz.experiments"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TestIMF"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TestNotification"
            android:label="@string/title_activity_test_notification" >
        </activity>
        <activity
            android:name=".HandleNotificationActivity"
            android:label="@string/title_activity_handle_notification" >
        </activity>
        <activity
            android:name=".TestEventBus"
            android:label="@string/title_activity_test_event_bus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>